.user-item{
    background: #f8f8f8;
    min-height: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.userinfo-item{
    background: #5288ea;
    background: linear-gradient(to right, #2de5fd, #5288ea);
    padding: 1rem;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0,0,0,0.2)
}

.userinfo-item .img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: block;
    margin: auto;
    background: #f4f4f4;
}

.userinfo-item .img img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.userinfo-item .name{
    display: block;
    padding-top: 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
}

.menu-item{
    background: #ffffff;
    padding: 1rem 1.5rem 0;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0,0,0,0.2)
}

.menu-item li{
    border-bottom: solid 1px #dddddd;
    font-size: 1.4rem;
    position: relative;
    height: 4rem;
    line-height: 4rem;
}
.menu-item li:last-child{
    border:none;
}

.menu-item li:before{
    position: absolute;
    top: 1.9rem;
    right: 1.2rem;
    width: 0.1rem;
    height: 0.6rem;
    background: #666666;
    display: block;
    content: "";
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg); 
}
.menu-item li:after{
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    height: 0.1rem;
    width: 0.6rem;
    background: #666666;
    display: block;
    content: "";
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg); 
}

.logout{
    margin: 1rem 0;
    background: #ffffff;
    padding: 1.5rem 0;
    font-size: 1.4rem;
    text-align: center;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0,0,0,0.2)
}