.account-item{
    min-height: 100%;
    position: relative;
    padding-bottom: 4rem;
    background: #ffffff;
}

.banner,
.banner img{
    width: 100%;
    display: block;
}

.account-item .borrow{
    text-align: center;
    padding-bottom: 2rem;
}

.account-item .borrow button{
    padding: 1rem 2rem;
    background: #5288ea;
    background: linear-gradient(to right, #2de5fd, #5288ea);
    color: #ffffff;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.account-item .invite{
    padding: 1rem 1.5rem;
}
.account-item .invite img{
    max-width: 100%;
    display: block;
    border-radius: 0.5rem;
}