.borrowlist-item{
    border-top: solid 0.5rem #f7f8f8;
    border-bottom: solid 0.5rem #f7f8f8;
    padding: 1rem 1.5rem;
}

.borrowlist-item h4{
    text-align: center;
    border-bottom: solid 1px #c1c1c1;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

.borrowlist-item .borrowlist{
    max-height: 6rem;
    overflow: hidden;
}
.borrowlist-item .borrowlist ul{
    overflow-x: hidden;
}
.borrowlist-item .borrowlist li{
    height: 2rem;
    line-height: 2rem;
    display: flex
}
.borrowlist-item .borrowlist li span{
    float: left;
    width: 28%;
}
.borrowlist-item .borrowlist li span:last-child{
    width: 44%;
}