.step-item{
    padding:2rem 0;
}

.step-item h2{
    font-size: 1.6rem;
    text-align: center;
    color: #4bb8ef;
}

.step-item ul{
    display: flex;
    padding: 2rem 0 0;
}

.step-item li{
    float: left;
    width: 33.33%;
    text-align: center;
    color: #666666;
    position: relative;
}

.step-item li i{
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    display: block;
}
.step-item li img{
    width: 5rem;
    height: 5rem;
}

.step-item li img.shenpi{
    width: 4rem;
    height: 4rem;
    margin-top: 0.5rem;
}

.step-item li span{
    display: block;
    padding-top: 1rem;
}

.step-item li:before{
    position: absolute;
    top: 1.5rem;
    left: -0.65rem;
    display: block;
    width: 1.3rem;
    height: 2.6rem;
    background: url(../../assets/images/jiantou.svg) no-repeat;
    content: "";
    background-size: 100%;
}

.step-item li:first-child:before{
    display: none;
}