.returnlist-item{
    margin: 1rem;
    background: #ffffff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    padding:0.5rem 1rem;
}

.returnlist-item ol{
    display: flex;
    border-bottom: solid 1px #eeeeee;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.returnlist-item li{
    padding: 1rem 0;
    float: left;
    width: 38%;
}
.returnlist-item li:nth-child(1){
    width: 15%;
}
.returnlist-item li:nth-child(3){
    width: 32%;
}
.returnlist-item li:nth-child(4){
    width: 15%;
}