.apply-item{
    padding: 4rem 1.5rem;
    min-height: 100%;
}
.apply-content{
    margin-top: 1rem;
    padding: 1rem 1rem 0;
    background: #ffffff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}
.apply-content dl{
    padding-bottom: 1.5rem;
}
.apply-content dl:last-child{
    padding-bottom: 1rem;
}
.apply-content dt{
    font-size: 1.4rem;
}
.apply-content dd{
    border-bottom: solid 1px #ddd;
    position: relative;
}
.apply-content dd:before{
    position: absolute;
    top: 1.3rem;
    right: 0.2rem;
    width: 0.1rem;
    height: 0.6rem;
    background: #cccccc;
    display: block;
    content: "";
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg); 
}
.apply-content dd:after{
    position: absolute;
    top: 1.2rem;
    right: 0rem;
    height: 0.1rem;
    width: 0.6rem;
    background: #cccccc;
    display: block;
    content: "";
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg); 
}

.apply-content select{
    border: none;
    outline: none;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #aaaaaa;
    line-height: 3rem;
    height: 3rem;
    background: transparent;
}

.apply-content dd.noarrow:before,
.apply-content dd.noarrow:after{
    display: none;
}

.inputchange{
    line-height: 3rem;
    height: 3rem;
    width: 100%;
    color: #aaaaaa;
}

.apply-btn{
    text-align: center;
    padding: 1.5rem 0;
}

.apply-btn input{
    background: #5288ea;
    background: linear-gradient(to right, #2de5fd, #5288ea);
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0,0,0,0.2);
}

.apply-btn input.btn-loading{
    padding-left: 5rem;
    padding-right: 5rem;
}

.apply-btn input[disabled]{
    background: #cccccc
}

.validation-error{
    margin-top: 0.5rem !important;
}